* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.maincontainer {
    background-image: url(./images/banner-background.png);
    background-color: #161D26;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.mainbackground {
    display: grid;
    gap: 58px;
}

.header {
    color: #161D26;
}

.container {
    max-width: 1630px;
    width: 100%;
    padding: 0 20px;
    margin: 0% auto;
}

.logo a:hover {
    color: darkgray;
    transform: scale(1.1);
    box-shadow: #12171E 5px;
    border-radius: 4px;
}

.headercontent {
    display: flex;
    padding: 42px 0;
    justify-content: space-between;
    align-items: center;
}

.logo-frame {
    max-width: 178px;
    width: 100%;
    align-content: center;
}

.logoframe {
    max-width: 153px;
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
}

.logotext {
    display: flex;
    gap: 2px;
    align-items: center;
    text-align: center;
    align-content: center;
}

.logotext00 {
    display: flex;
    color: #FFFFFF;
}

.logotext01 {
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;
}

.logotext1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-top: 7px;
}

.logo {
    display: flex;
    gap: 52px;
    max-width: 603px;
    width: 100%;
    justify-content: space-evenly;
}

.home-icon {
    background-color: #161D26;
    border: none;
    color: #F0F1F5;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    align-content: center;
}

.logo a {
    color: #F0F1F5;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
    align-content: center;
}

.creatbutton {
    max-width: 335px;
    width: 100%;
    background-image: linear-gradient(to left, #0070E4, #25A1FF);
    padding: 16px 20px 16px 20px;
    border: none;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 4px;
}

.creatbutton:hover {
    transform: scale(0.9);
    box-shadow: #CCCED9 4px 2px 6px 2px;
}

.links a {
    color: #F0F1F5;
    text-decoration: none;
}

.links {
    max-width: 603px;
    width: 100%;
    display: flex;
    gap: 52px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sidemenubar {
    display: none;
}

.searchicon {
    align-content: center;
}

.group70icon {
    padding-top: 5px;
    align-content: center;
}

.Users {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    max-width: 369px;
    width: 100%;
}

.ctastart {
    background-image: linear-gradient(to left, #0070E4, #25A1FF);
    padding: 16px 36px 16px 36px;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 18px;
    line-height: 26px;
}

.CTA1 :hover {
    transform: scale(1.1);
    transition: all 1s;
    color: black;
    background-color: white;
}

.CTA {
    text-align: center;
    align-items: center;
    align-content: center;
}

.currency {
    display: flex;
    color: #E9EAF0;
    max-width: 148px;
    width: 1000%;
}

.currency-name {
    padding: 0 18px 0 10px;
    align-content: center;
}

.currency-name1 {
    padding: 0 30px 0 10px;
    align-content: center;
}

.Ctaphoto {
    max-width: 645px;
    width: 100%;
    align-items: center;
}

/* maintext ----------------------------------------------------*/

.maincontant {
    margin-top: 58px;
    max-width: 1746px;
    width: 100%;
}

.pngeggresponsive {
    display: none;
}

.pngegg {
    align-content: center;
    text-align: center;
}

.pngegg img {
    max-width: 645px;
    width: 100%;
    align-content: center;
}

.heading1 {
    display: flex;
    gap: 50px;
    max-width: 1590px;
    width: 100%;
    justify-content: space-between;
}

.textmain {
    padding: 157px 0 156px 0;
    max-width: 637px;
    width: 100%;
    display: grid;
    gap: 60px;
}

.text00 {
    max-width: 637px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.text01 {
    font-size: 72px;
    font-weight: 800;
    line-height: 92px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;

}

.trading {
    color: #25A1FF;
}

.text02responsive {
    display: none;
}

.text02 {
    color: #CCCED9;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

/* bitcoin ----------------------------------------------*/
.bitcoin {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #6A718A;
}

.cards {
    padding-top: 25px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    justify-content: space-between;
    padding-bottom: 50px;
    overflow-x: scroll;
}

.cardmain {
    padding: 10px 11px 10px 14px;
    display: flex;
    gap: 16px;
    border: 1px solid #40476C;
    align-items: center;
    border-radius: 4px;
}

.Tbitcoin {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #CCCED9;
    text-wrap: nowrap;
}

.search {
    width: 24px;
}

.amount {
    color: #F0F1F5;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    align-content: center;
}

.frame1 {
    display: flex;
    gap: 8px;
    padding-top: 5px;
}

.CombinedShape {
    align-content: center;
}

.text000 {
    text-align: center;
    align-items: center;
    align-content: center;
}

.text12 {
    color: #34D399;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: right;
}

/* upcoming -------------------------------------------------*/
.slider-icon {
    width: 100%;
}

.contant {
    margin-top: 140px;
    backdrop-filter: blur(140px);
    background: #FFFFFF;
}

.headtext {
    padding-bottom: 80px;
    text-align: center;
}

.upcomingtext {
    color: #26306A;
    font-size: 39px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: center;
}

.cards1 {
    display: flex;
    gap: 30px;
    overflow: scroll;
    padding-bottom: 80px;
}

.cardsinformation {
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
}

.bgphoto {
    background-color: #191749;
    border-radius: 10px;
    padding: 32px 18px;
    max-width: 240px;
    width: 100%;
}

.card-logo {
    text-align: center;
    max-width: 76px;
    width: 100%;
}

.husd-coin-head {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    padding-bottom: 12px;
}

.husd-coin-text {
    color: #CCCED9;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.live {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-top: 37px;
    align-items: center;
}

.textlive {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
}

.hours {
    text-align: center;
    padding-top: 8px;
}

.time {
    padding: 6px 18px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #25A1FF;
    max-width: 141px;
    width: 100%;
}

/* trending ---------------------------------------------------*/
.titles {
    max-width: 506px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.title1 {
    background-color: #EEF7FF99;
    color: #0091FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 12px 24px;
}

.title01 {
    background-color: #EEF7FF99;
    color: #0091FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 12px 24px;
}

.maintext {
    width: 100%;
}

.maintext-res {
    display: none;
}

.maintext,
.tablecards {
    border: 1px solid #E9EAF0;
}

.heading01 {
    color: #6A718A;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 24px 0;
}

.data-price {
    color: #40476C;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 22.5px 0;
}

.data-24h {
    color: #6A718A;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 25.5px 0;
}

.data-low {
    color: #6A718A;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 25.5px 0;

}

.data-volume {
    color: #6A718A;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 25.5px 0;

}

.buttons {
    display: flex;
    gap: 24px;
    padding: 20px 0;
    justify-content: center;
}

.tradebutton {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: #25A1FF;
    padding: 10px 18px;
    border-color: #0070E4;
    border-radius: 4px;
}

.Detailsbutton {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: #25A1FF;
    padding: 10px 18px;
    border-color: #0070E4;
    border-radius: 4px;
}

.viewmore {
    background-image: linear-gradient(to left, #0070E4, #25A1FF);
    color: #FFFFFF;
    border: none;
    padding: 16px 36px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;

}

.viewbutton :hover {
    transform: scale(0.9);
    transition: 1s;
    color: black;
    box-shadow: #40476C 5px 10px 3px;

}

.viewbutton {
    margin-top: 60px;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    align-content: center;
}

/* startjourney --------------------------------------*/
.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding-bottom: 80px;

}

.step {
    color: #26306A;
    font-size: 39px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: center;
}

.heroimg {
    max-width: 38px;
    width: 100%;
}

.crad01 {
    display: flex;
    gap: 30px;
}

.frame01 {
    max-width: 375px;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.frame362 {
    padding: 100px 88px 102px 50px;
    display: grid;
    gap: 48px;
}

.frame01 :hover {
    transition: 1s;
    box-shadow: 3px 4px 12px 1px #00000040;
}

.Creat {
    display: grid;
    gap: 12px;
}

.creatacount {
    color: #40476C;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.creatacount1 {
    color: #40476C;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    display: none;
}

.sign {
    color: #8C9298;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.starttrading {
    display: flex;
    gap: 8px;
}

.starttrading01 {
    color: #56B2FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.icon84 {
    text-align: center;
    align-items: center;
}

/* why choose us -----------------------------------------------------*/
.contant2 {
    background-image: url(./images/banner-background.png);
    background-color: #161D26;
    margin-top: 140px;
}

.header1 {
    display: grid;
    gap: 18px;
    padding-top: 120px;
}

.header-name {
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
}

.newitem {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-bottom: 100px;
    align-items: center;
}

.cards02 {
    margin-top: 22px;
    display: flex;
}

.advertize {
    max-height: 208px;
    height: 100%;
    margin-top: 58px;
    display: grid;
    gap: 29px;
    color: #CCCED9;
    margin-right: 70px;
}

.asd01 {
    display: flex;
    gap: 8px;
    align-items: center;
    align-content: center;
}

.line85 {
    display: none;
}

.line86 {
    margin-top: 58px;
}

.cardtext {
    padding: 58px 0 0 31px;
    max-width: 561px;
    width: 100%;
    display: grid;
    gap: 32px;
}

.cardheading {
    max-width: 496px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.cardhead {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: left;
}

.cardimfo {
    color: #AEB1BF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.data-secourity {
    max-width: 645px;
    width: 100%;
}

.cardimfo1 {
    color: #AEB1BF;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    display: none;
}

.cardimportant {
    display: grid;
    gap: 18px;
}

.textlorem {
    color: #E9EAF0;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    padding-left: 25px;
}

.textlorem1 {
    color: #CCCED9;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    display: none;
    padding-left: 25px;
}

.group339responsive {
    display: none;
}

/* CTa ----------------------------------------------------------*/
.CTA00 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.Ctaphoto1 {
    display: none;
}

.cta01 {
    display: grid;
    gap: 60px;
    padding: 74.5px 0;
    max-width: 645px;
    width: 100%;
}

.group341 {}

.ctahead {
    color: #26306A;
    font-size: 39px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: left;
}

.ctaheading {
    display: grid;
    gap: 18px;
}

.ctatext {
    display: grid;
    gap: 28px;
}

.ctatext01 {
    color: #8C9298;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.ctabutton {
    background: linear-gradient(to left, #0070E4, #25A1FF);
    color: #FFFFFF;
    border: none;
    padding: 16px 36px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    max-width: 180px;
    width: 100%;
    border: 2px solid transparent;
}

.ctabutton:hover {
    background: linear-gradient(to left, #ffffff, #ffffff);
    border: 2px solid #0a2719;
    border-radius: 4px;
    color: black;
    background-color: white;
    transition: 1s;
}

/* testimonals ---------------------------------------------------------*/
.Testimonialsheading {
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.contant01 {
    margin-top: 140px;
    background: linear-gradient(94.21deg, rgba(232, 170, 46, 0.16) 3.29%, rgba(255, 0, 214, 0.16) 97.52%);
    backdrop-filter: blur(140px)
}

.Testimonialshead {
    color: #26306A;
    font-size: 39px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.02em;
    text-align: center;
}

.linebar87 {
    align-items: center;
    text-align: center;
}

.cardsphotos {
    display: flex;
    gap: 53px;
}

.cards-00 {
    max-width: 1380px;
    width: 100%;
    display: flex;
    gap: 30px;
    padding-bottom: 80px;
}

.pre-button {
    align-content: center;
}

.pre-button:hover {
    transform: scale(0.8);
}

.cards-main {
    display: grid;
    gap: 42px;
    padding: 40px 28px;
    opacity: 60%;
    background-color: #FFFFFF;
    border-radius: 10px;

}

.cards-main:hover,
.cards-main1:hover {
    box-shadow: 3px 4px 12px 1px #00000040;
    transition: 0.5s;

}

.cards-main1 {
    display: grid;
    gap: 42px;
    padding: 40px 28px;
    background-color: #FFFFFF;
    border-radius: 10px;

}

.hero-photo {
    display: grid;
    gap: 18px;
    text-align: center;
    justify-content: center;
}

.cards-info {
    color: #6A718A;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.sophia-text {
    color: #40476C;
    font-size: 23px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-align: center;
}

.dotted {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.pagination-photo01 {
    display: none;
}

.downloader {
    width: Fixed (170px)px;
    height: Hug (50px)px;
    padding: 6px 30px 6px 20px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

/* footer ----------------------------------------------------------*/
.footerhead {
    display: flex;
    gap: 4px;
    padding: 60px 0;
}

.informations {
    display: flex;
    gap: 30px;
    padding-top: 80px;
    justify-content: center;
}

.text-info {
    display: flex;
    gap: 30px;
    padding-top: 80px;

}

.information01 {
    max-width: 240px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.informations :hover {
    color: rgb(0, 0, 255);
}

.information01 {
    max-width: 240px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.information02 {
    max-width: 240px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.information03 {
    max-width: 240px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.information04 {
    max-width: 240px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.information05 {
    max-width: 240px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.information06 {
    max-width: 240px;
    width: 100%;
    display: grid;
    gap: 28px;
}

.information06-res {
    display: grid;
    gap: 18px;
    display: none;
}

.information7-res {
    display: flex;
    gap: 13px;
}

.texthead1 {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;

    text-align: left;
}

.information2 {
    display: grid;
    gap: 18px;
    padding-bottom: 84px;
}

.information3 {
    display: grid;
    gap: 18px;
    padding-bottom: 84px;
}

.information4 {
    display: grid;
    gap: 18px;
    padding-bottom: 40px;
}

.information5 {
    display: grid;
    gap: 18px;
    padding-bottom: 40px;
}

.information6 {
    display: grid;
    gap: 18px;
    padding-bottom: 172px;
}

.information7 {
    display: grid;
    gap: 18px;
    padding-bottom: 118px;
}

.text1 {
    color: #CCCED9;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.playstore {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 6px 30px 6px 20px;
    border-radius: 4px;
    border: 1px solid #CCCED9;
    align-items: center;
}

.playtext1 {
    color: #E9EAF0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.download1 {
    padding-right: 63px;
}

.playtext2 {
    color: #CCCED9;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    max-width: 86px;
    width: 100%;
}

/* copyright ----------------------------------------------*/

.contant3 {
    padding-top: 0;
    background-color: #12171E;
}

.allright {
    display: flex;
    gap: 10px;
    padding: 40px 0;
    justify-content: space-between;

}

.allrighttext {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}


.icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.icons:hover {
    transform: scale(1.1);
}

.ctabutton,
.viewmore,
.creatbutton,
.ctastart,
.home-icon,.icons{
    cursor: pointer;
}


@media screen and (max-width: 1024px) {

    /* header------------------------------------------------- */
    .logo,
    .Users {
        display: none;
    }

    .header {
        background-color: #FFFFFF;
    }

    .sidemenubar {
        display: block;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .logotext00 {
        color: #40476C;
    }

    .headercontent {
        padding: 30px 0;
    }

    /* maintext ------------------------------------------*/
    .heading1 {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .textmain {
        padding: 0;
    }

    /* startjourney -----------------------------------------*/
    .frame362 {
        padding: 60px 30px 60px 20px;
        gap: 35px;
    }

    .starttrading {
        display: none;
    }

    /* whhy choose us -------------------------------------- */
    .advertize {
        display: flex;
        margin: 0;
        gap: 24px;
        justify-content: space-between;
    }

    .asd01 {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #8C9298;
    }

    .line86 {
        display: none;
    }

    .cardtext,
    .cardheading {
        padding: 0;
        display: grid;
        gap: 18px;
    }

    .newitem {
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;

    }

    .cards02 {
        display: grid;
        padding-bottom: 40px;
        margin-top: 28px;
    }

    .asd01 {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    /* CTa ------------------------------------------------*/
    .CTA00 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .ctabutton {
        text-align: center;
        width: 100%;
        max-width: 650px;
    }


    /* testimonials ---------------------------------------- */
    .pre-button {
        display: none;
    }

    /* footer -----------------------------------------------*/
    .information05,
    .information06 {
        display: none;
    }

    .footerhead {
        padding: 40px 0 20px 0;
    }

    .informations {
        padding-top: 40px;
    }

    .information06-res {
        display: block;
        display: grid;
        gap: 18px;
        margin-top: 30px;
    }

    /* upcoming ---------------------------------------------------*/
    .cards1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .slider-icon {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards-main {
        display: none;
    }

    .informations {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .information2,
    .information3,
    .information4,
    .information5 {
        padding: 0;
    }

    /* startjourney ----------------------------------------------*/
    .frame362 {
        padding: 30px 15px 30px 14px;
        gap: 35px;
    }

    .heroimg {
        max-width: 32px;
        width: 100%;
    }

    .creatacount1 {
        display: block;
    }

    .creatacount {
        display: none;
    }

    .sign {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
    }

    .crad01 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .buttons {
        display: none;
    }

    /* upcoming ---------------------------------------------------*/
    .cards1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
        gap: 13px;
    }

    .cardsinformation {
        flex-direction: row;
        gap: 8px;
    }

    .live {
        padding-top: 20px;
    }

    .husd-coin-head {
        padding: 0;
    }

    .husd-coin-text {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    /* maintext ---------------------------------*/
    .text01 {
        font-size: 34px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .text02 {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
    }

    .ctastart {
        width: 100%;
    }

    .pngegg img {
        max-width: 279px;
        width: 100%;
    }

    /* bitcoin ----------------------*/
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 40px;
    }

    .cardmain {
        border: none;
        display: grid;
        gap: 12px;
        border-radius: 4px;
        padding-top: 4px;
    }

    /* trending ---------------------------*/
    .maintext,
    .title01 {
        display: none;
    }

    .titles {
        justify-content: space-around;
        gap: 8px;
    }

    .bitcoin {
        color: #6A718A;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    .maintext-res {
        display: block;
    }

    .heading01,
    .data-24h,
    .data-volume {
        text-align: left;
        margin-right: 10px;
    }

    .title1 {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        text-align: left;
        padding: 12px 20px;
    }

    .data-name {
        color: #40476C;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    .viewmore {
        width: 100%;
    }

    /* why choose us ----------------------------- */
    .header1 {
        padding-top: 40px;
    }

    .header-name {
        font-size: 33px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .group339 img {
        max-width: 223px;
        width: 100%;
    }

    .cardhead {
        font-size: 19px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .cardimfo {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    .textlorem {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
    }

    .cardimportant {
        display: grid;
        gap: 8px;
    }

    /* CTa ---------------------------------------------*/
    .contant {
        margin-top: 40px;
    }

    .Ctaphoto {
        max-width: 255px;
        width: 100%;
    }

    .ctahead {
        font-size: 33px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .ctatext01 {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    .cta01 {
        padding: 40px 0 0 0;
        gap: 40px;
    }

    /* testimonals --------------------------------*/
    .Testimonialshead {
        font-size: 33px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .Testimonialsheading {
        padding-bottom: 40px;
        align-items: flex-start;
    }

    .cards-00 {
        padding-bottom: 40px;
    }

    .linebar87 {
        text-align: left;
    }

    .cards-main1 {
        padding: 24px 14px;
        display: grid;
        gap: 24px;
    }

    .hero-photo {
        display: flex;
        align-items: center;
    }

    .user-img {
        max-width: 68px;
        width: 100%;
    }

    .sophia-text {
        font-size: 19px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .cards-info {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    .pagination-photo1 {
        display: none;
    }

    .pagination-photo01 {
        display: block;
    }

    /* footer ------------------------------*/
    .allright {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 20px 0;
        align-items: center;
    }

    .icons {
        justify-content: center;
    }

    /* copyright ----------------------------------*/
    .allrighttext1 {
        text-align: center;
    }

    .playstore {
        padding: 6px 23px 6px 18px;
    }

    .contant2 {
        background-color: #161D26;
        background-image: none;
    }

    /* startjourney -------------------------------*/
    .frame362 {
        padding: 24px 8px 23px 14px;
        gap: 24px;
    }

    .steps {
        align-items: flex-start;
        padding-bottom: 32px;
    }

    .step {
        font-size: 33px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .Creat {
        gap: 12px;
    }

    /* upcoming ---------------------------------------------------*/
    .card-logo {
        max-width: 30px;
        width: 100%;
    }

    .husd-coin-head {
        font-size: 19px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .live {
        padding-top: 18px;
        text-align: left;
        gap: 4px;
        align-items: flex-start;
    }

    .bgphoto {
        padding: 24px 12px;
        max-width: 161px;
        width: 100%;
    }

    .textlive {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }

    .time {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
    }

    .upcomingtext {
        font-size: 33px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .headtext {
        padding-bottom: 32px;
        text-align: left;

    }
}